<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Regadou REST application</display-name>

  <servlet>
    <servlet-name>resti</servlet-name>
    <servlet-class>org.regadou.system.RestServlet</servlet-class>
    <init-param>
       <param-name>configuration</param-name>
       <param-value>/resti.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>resti</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
